.navbar-color {
  background-color: #ffffff !important;
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

.nav-item {
  font-size: 18px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar-nav {
  text-align: right;
  margin-left: auto !important;
}

.navbar {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  padding: 10px;
}

.banner {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  background-image: url("https://plus.unsplash.com/premium_photo-1666836046442-70ebab318a76?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-heading {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.banner-button {
  background-color: orange;
  padding: 10px;
  color: black;
  font-weight: bold;
  border: none;
  margin-top: 20px;
}
